<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <a class="home" routerLink="/home"><span>My App</span></a>
  <div>
    <a mat-button routerLink="/pageOne">Page One</a>
    <a mat-button routerLink="/pageTwo">Page Two</a>
    <a mat-button routerLink="/pageThree">Page Three</a>
    <a mat-button routerLink="/pageFour">Page Four</a>
  </div>


  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>

<router-outlet></router-outlet>