<h3>Page Four</h3>

<div class="example-label">Select a Card... Any card</div>
<div class="example-button-row">
    <button routerLink="cardOne" mat-raised-button color="primary">Card One</button>
    <button routerLink="cardTwo" mat-raised-button color="primary">Card Two</button>
    <button routerLink="cardThree" mat-raised-button color="primary">Card Three</button>
    <button routerLink="cardFour" mat-raised-button color="primary">Card Four</button>
</div>

<mat-divider></mat-divider>

<router-outlet></router-outlet>